<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @funcionalidad.descripcion %>
</p>

<%= link_to 'Edit', edit_funcionalidad_path(@funcionalidad) %> |
<%= link_to 'Back', funcionalidads_path %>
